.about-image {
        background-image: url(../../img/about/about-us-img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }
.about-container1{
    background-image: url(../../img/about/about2.jpg);
    background-size: cover;
    background-position: center;
    height: 775px;
}
.about-container2{
background-image: url(../../img/about/about1.jpg);
    background-size: cover;
    background-position: center;
    height: 775px;
}